{% extends 'VipSiteBundle:Default:index.html.twig' %}
{% block head %}
    <meta charset="utf-8">
    <title>Bootstrap 101 Шаблон</title>
    <!-- Bootstrap -->
    <link href="{{ app.request.basePath }}/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="{{ app.request.basePath }}/css/style.css" rel="stylesheet" media="screen">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js"></script>
    <script src="{{ app.request.basePath }}/js/jquery.parallax.js"></script>
    <script>
        jQuery(document).ready(function(){
            jQuery('#parallax .parallax-layer')
                    .parallax({
                        mouseport: jQuery('#parallax')
                    });
        });
    </script>
{% endblock %}
{% block home %}
 <div class="container cp-content">
     <h1>Ваши заказы</h1>
     <table class="table-title span12"><td>Дата</td><td>Наименование организации</td><td>Тип заказа</td><td>Заказать за 1 клик</td></table>
    <table class="table-order span12">

        <tr>    <td>Дата</td><td>Наименование организации</td><td>Тип заказа</td><td><a class="button2" href="/">Заказать за 1 клик</a>  </td></tr>
        <tr>    <td>Дата</td><td>Наименование организации</td><td>Тип заказа</td><td><a class="button2" href="/">Заказать за 1 клик</a> </td></tr>
        <tr>    <td>Дата</td><td>Наименование организации</td><td>Тип заказа</td><td><a class="button2" href="/">Заказать за 1 клик</a> </td></tr>
        <tr>   <td>Дата</td><td>Наименование организации</td><td>Тип заказа</td><td><a class="button2" href="/">Заказать за 1 клик</a> </td></tr>
        <tr>   <td>Дата</td><td>Наименование организации</td><td>Тип заказа</td><td><a class="button2" href="/">Заказать за 1 клик</a> </td></tr>
        <tr>    <td>Дата</td><td>Наименование организации</td><td>Тип заказа</td><td><a class="button2" href="/">Заказать за 1 клик</a> </td></tr>
        <tr>    <td>Дата</td><td>Наименование организации</td><td>Тип заказа</td><td><a class="button2" href="/">Заказать за 1 клик</a> </td></tr>
        <tr>    <td>Дата</td><td>Наименование организации</td><td>Тип заказа</td><td><a class="button2" href="/">Заказать за 1 клик</a> </td></tr>
        <tr>   <td>Дата</td><td>Наименование организации</td><td>Тип заказа</td><td><a class="button2" href="/">Заказать за 1 клик</a> </td></tr>
        <tr>   <td>Дата</td><td>Наименование организации</td><td>Тип заказа</td><td><a class="button2" href="/">Заказать за 1 клик</a> </td></tr>
        <tr>    <td>Дата</td><td>Наименование организации</td><td>Тип заказа</td><td><a class="button2" href="/">Заказать за 1 клик</a> </td></tr>
        <tr>    <td>Дата</td><td>Наименование организации</td><td>Тип заказа</td><td><a class="button2" href="/">Заказать за 1 клик</a> </td></tr>
        <tr>    <td>Дата</td><td>Наименование организации</td><td>Тип заказа</td><td><a class="button2" href="/">Заказать за 1 клик</a> </td></tr>
        <tr>   <td>Дата</td><td>Наименование организации</td><td>Тип заказа</td><td><a class="button2" href="/">Заказать за 1 клик</a> </td></tr>
        <tr>   <td>Дата</td><td>Наименование организации</td><td>Тип заказа</td><td><a class="button2" href="/">Заказать за 1 клик</a> </td></tr><tr>    <td>Дата</td><td>Наименование организации</td><td>Тип заказа</td><td><a class="button2" href="/">Заказать за 1 клик</a> </td></tr>
        <tr>    <td>Дата</td><td>Наименование организации</td><td>Тип заказа</td><td><a class="button2" href="/">Заказать за 1 клик</a> </td></tr>
        <tr>    <td>Дата</td><td>Наименование организации</td><td>Тип заказа</td><td><a class="button2" href="/">Заказать за 1 клик</a> </td></tr>
        <tr>   <td>Дата</td><td>Наименование организации</td><td>Тип заказа</td><td><a class="button2" href="/">Заказать за 1 клик</a> </td></tr>
        <tr>   <td>Дата</td><td>Наименование организации</td><td>Тип заказа</td><td><a class="button2" href="/">Заказать за 1 клик</a> </td></tr><tr>    <td>Дата</td><td>Наименование организации</td><td>Тип заказа</td><td><a class="button2" href="/">Заказать за 1 клик</a> </td></tr>
        <tr>    <td>Дата</td><td>Наименование организации</td><td>Тип заказа</td><td><a class="button2" href="/">Заказать за 1 клик</a> </td></tr>
        <tr>    <td>Дата</td><td>Наименование организации</td><td>Тип заказа</td><td><a class="button2" href="/">Заказать за 1 клик</a> </td></tr>
        <tr>   <td>Дата</td><td>Наименование организации</td><td>Тип заказа</td><td><a class="button2" href="/">Заказать за 1 клик</a> </td></tr>
        <tr>   <td>Дата</td><td>Наименование организации</td><td>Тип заказа</td><td><a class="button2" href="/">Заказать за 1 клик</a> </td></tr>




    </table>
 </div>
{% endblock %}